$mainColor: #ffe600;
$firstBackgroundColor: #122a2f;
$secondBackgroundColor: #11343a;
$threeBackgroundColor: #fbfbfb;
$fourBackgroundColor: #131a1d;
$informationBackground: #131316;
$buttonTextColor: #131316;
$miniHeaderColor: #515151;
$headerParagraphColor: #707070;
$galleryBackground: #cfc20c;
$aboutSpanHeader: #515151;
$workerNameBorder: #e1e6e6;